---
import Search from "astro-pagefind/components/Search"
---

<div class="m-1 p-1 text-sm">
<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false}} />
</div>

<style>
    .pagefind-ui {
        width: 100%;
    }
</style>